@charset "UTF-8";
body{
    margin: 0;
}

header{
    width: 100%;
    height: 70px;
    background: #FF6666;
    position: relative;
    padding: 0px;
    margin: 0px;
}

header input{
    width: 97%;
    padding: 15px;
    margin-top: 10px;
    background: #ffcccc;
    border: none;
    border-radius: 10px;
    outline: none;
    color: black;
    box-sizing: border-box;
}

header button {
	font-size: 20px;
	background: #ffb3b3;
	border-radius: 22px;
	position: absolute;
	top: 10px;
	right: 22px;
	padding: 10px 15px 10px 15px;
	border: 1px solid #f89e9e;
	outline: none;
	cursor: pointer;
}
ul {
	margin: 0px;
	background: #979797;
	padding: 10px 0px 20px 0px;
}  
ul li{

    width: 98%;
    padding: 15px;
    margin-top: 10px;
    background: #ffcccc;
    border-radius: 10px;
    outline: none;
    color: black;
    box-sizing: border-box;
    list-style-type:none;
}

ul li i{
	font-size: 20px;
    background: #FCC;
	position: absolute;
	margin-top: -6px;
	right: 85px;
	border: none;
	outline: none;
	cursor: pointer;
}
ul li i:hover{
    font-size: 25px;
    margin-top: -7px;
}
.chn {
	font-size: 20px;
	background: #FCC;
	position: absolute;
	margin-top: -10px;
	right: 48px;
	padding: 3px 6px 3px 6px;
	border: none;
	outline: none;
}